#header{
  font-size: 50px;
  text-align: center;
  letter-spacing: 8px;
  border-radius: 300px;

}

#Menu{
  font-style: oblique;
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;

}

.well{
  background-color: #E0FFFF;
}

#show-info{
  display: none;
}
.pizza-info{
  cursor: pointer;
  color: #red;
}
@media only screen and (max-width: 90em) {
    body {
        background-color: lightblue;
    }
